*{
    box-sizing: border-box;
}
html,body{
    padding:0px;
    margin:0px;
}
.menu{
    border: 1px solid black;
    height: 40px; 
    display: flex;  
    align-items: center;
}

.active{
    display: flex;
}
.file{
    margin-left: 10px;
}
.home{
    margin-left: 10px;
}
.file-menu-options{
    display: none;
    /* margin-left: 10px; */
}
.home-menu-options{
    display: none;
    /* margin-left: 10px; */
}
.menu-options{
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
}
.row{
    display: flex;
}
.formula-input{
    border: 1px solid black;
    height: 30px;
}
.cells{
   position: absolute;
   top: 25px;
   left: 30px;
   background: white;
}
.cell{
    border: 1px solid;
    min-height: 25px;
    min-width: 70px;
    border-radius: 2px;
    max-width: 70px;
}
.sheets{
    border: 1px solid black;
    height: 30px;
}

.content{
    height: calc(100vh - 140px);
    overflow: auto;
    position: relative;
}
.top-left-cell{
background-color: black;
height: 25px;
width: 30px;
position: absolute;
z-index: 5;
}

.top-row{
display: flex;
position: absolute;
top: 0px;
left: 30px;
background-color: lightcyan;
position: absolute;
z-index: 3;
}
.left-col{
    background-color: lightcyan;
    position: absolute;
    z-index:3 ;
    top: 25px;
    left: 0px;
}
.top-row-cell{
    border: 1px solid;
    min-height: 25px;
    min-width: 70px;
    border-radius: 2px;
    /* text-align: center; */
    display: flex;
align-items: center;
justify-content: center;
}

.left-col-cell{
height: 25px;
width: 30px;
border: 1px solid black;
text-align: center;
/* center mein laane ke liye */
display: flex;
align-items: center;
justify-content: center;
}