* {
    box-sizing: border-box;
  }


  body,
html {
  margin: 0px;
}
.nightmode{
  background: lightgray;
  height: 60px;
  padding: 7px;
  border-radius: 25px;
}
.tools {
    background: aliceblue;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .toolbox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .tool {
    position: relative;
    height: 50px;
  }
  .tool img {
    height: 100%;
  }